@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@700 & family= Roboto:wght@400;500;700;900 & display=swap');

@import 'utils/variables';

@import "node_modules/modern-normalize/modern-normalize.css";



/*Todo el contenido*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; //esto asegura que el relleno y el borde estan incluidos en el ancho total y altura de los elementos
    text-decoration: none;
    list-style: none;
    background: $dark-pink;

  }
  
  /*Todo el contenido*/
  body {

  }

  @import 'components/header';
  


  

