$strawberry: #FFB8CA;
$coffee: #F0D1A5;
$lime: #C2E297;


$light-pink: #FFA5BA;
$dark-pink: #D41443;

$white: #ffffff;
$black: #000000;
$gray: #907E82;

$background-pink: #FFF5F6;
$background-gray: #E5E5E5;
$background-slider: #FAFAFA;

